@import '~tachyons';

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  display: block;
  margin: 0 auto 4rem;
}

.tab-nums {
  font-variant-numeric: tabular-nums;
}
